:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
	--color1: #f9a645;
	--color2: #f4f1ee;
	--color3: #a06829;
}
body { margin: 0; }
* { box-sizing: border-box; }
